{% extends "base.html" %}

{% block content %}
<style>
.niceTable{
	width:100%;
	border: 1px solid black;	
}

.niceTable th{
	background-color:whitesmoke;
}



</style>
<br/>
<br/>
<center>
	<div class="row">
	  	<div class="col-md-4">

	  	</div>
  		<div class="col-md-4">
  			<h2>
  				A new way to hang out
  			</h2>
  		</div>
  		<div class="col-md-4">

  		</div>
	</div>
</center>


<table class="niceTable table table-striped">

	<thead>
		<tr>
			<th>
			asdf
			</th>
			<th>
			qwer
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
			sample element
			</td>
			<td>
			sample element
			</td>
		</tr>
		<tr>
			<td>
			sample element
			</td>
			<td>
			sample element
			</td>
		</tr>
		<tr>
			<td>
			sample element
			</td>
			<td>
			sample element
			</td>
		</tr>
	</tbody>



</table>


{% endblock %}